.env
/vendor/
/backups/
/data/
*.log
provision.sh
provisionNoDocker.sh

# # Ignorar todo dentro de storage
# /storage/*

# # Pero no ignorar los .gitkeep
# !/storage/.gitkeep
# !/storage/uploads/.gitkeep
# !/storage/uploads/pagos/.gitkeep

/storage/*
!/storage/**/.gitkeep
