services:
  gestcoop_web:
    build: .
    container_name: gestcoop_web
    ports:
      - "80:80"
    volumes:
      - .:/var/www
    depends_on:
      - gestcoop_db
    networks:
      - app-network
  gestcoop_db:
    image: mysql:8.0
    container_name: gestcoop_db
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./sql/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - app-network
volumes:
  db_data:
networks:
  app-network:
    driver: bridge
