
<header>
  <h2 class="header__title">
    <link rel="stylesheet" href="/assets/css/header.css" />
    <a href="/index.php" style="text-decoration: none; color: var(--color-primary);">
      Conviconsu
    </a>
  </h2>
  <nav>
    <ul>
      <li><a href="/home.php">Inicio</a></li> 
      <li><a href="#">Servicios</a></li> 
      <li><a href="#">Nosotros</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </nav>
  <a href="/login.php" class="header__login">
    <button class="button__ingresar">INGRESAR</button>
  </a>
</header>

