:root {
  /* GENERAL */
  --color-primary: #006eff;
  --color-secondary: #ffffff;
  --color-tertiary: #46a2ff;
  --color-gradient: linear-gradient(270deg, #03366b, #256ab1);
  --color-gradient-cuadrado: linear-gradient(270deg, #0b4580, #3783d0);
  --color-gradient-secondary: linear-gradient(90deg, #1664b3, #26a9cd);

  /* Fuentes */
  --font-family-primary: "poppins", sans-serif;

  /* texto */
  --text-color-primary: #333;
  --text-color-secondary: #666;
  --text-color-tertiary: #006eff;
  --text-color-soft: #999;

  /* Login */
  /* inputs */
  --login-color-input: #f0f0f0;
  --login-color-input-border: #ccc;
  --login-color-input-focus: #c7dcf8;
  --login-color-input-error: #ffcccc;

  /* REGISTRO */
  --register-color-input: #f0f0f0;
  --register-color-input-border: #ccc;
  --register-color-button-gradient: linear-gradient(90deg, #256ab1, #03366b);
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-secondary);
  font-family: var(--font-family-primary);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--color-secondary);
}

.header__title {
  font-size: 1.5rem;
  color: var(--color-primary);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

a {
  margin: 5px;
  text-decoration: none;
  color: var(--text-color);
}

.header__login {
  font-size: 1rem;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  padding: 0rem 2rem;
  border-radius: 50px;
}

.button__ingresar {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

.bienvenida {
  text-align: center;
  padding: 2rem;
  background: var(--color-gradient);
  color: var(--color-secondary);
}

.bienvenida h1 {
  font-family: comic-sans-ms, sans-serif;
}

.bienvenida__button {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.button--primary {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: var(--color-primary) 1px solid;
}

.button--secondary {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border: var(--color-secondary) 1px solid;
}

.servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-secondary);
}

.servicios h2 {
  font-size: 2rem;
  color: var(--color-primary);
}

.servicios > p {
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-color);
}

.servicios ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.servicios li h3 {
  font-size: 1.2rem;
}

.servicios li {
  background: var(--color-gradient-cuadrado);
  padding: 1rem;
  margin: 0 1rem;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
}

.servicios p {
  font-size: 0.9rem;
}

.incorporacion {
  background-color: var(--color-secondary);
  padding: 2rem;
  text-align: center;
}

.incorporacion h2 {
  font-size: 2rem;
  color: var(--color-primary);
}

.incorporacion ol {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.incorporacion li {
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numero {
  background: var(--color-gradient-secondary);
  color: var(--color-secondary);
  padding: 0.5rem;
  font-weight: 900;
  font-size: 40px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.incorporacion h3 {
  font-size: 1.2rem;
  color: var(--color-primary);
}

.incorporacion p {
  font-size: 0.9rem;
  color: var(--text-color);
}

.preguntas {
  background-color: var(--color-secondary);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preguntas h2 {
  font-size: 2rem;
  color: var(--color-primary);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.preguntas ul {
  list-style: none;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preguntas li {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  padding: 1rem;
  border-radius: 10px;
  margin: 0.5rem 0;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.preguntas li:hover {
  background-color: var(--color-tertiary);
}

.motivacion {
  background: var(--color-gradient);
  padding: 1rem 2rem;
  color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.motivacion h2 {
  font-size: 1.5rem;
  margin: 0;
  color: var(--color-secondary);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.motivacion p {
  font-size: 1rem;
  color: var(--color-secondary);
  text-align: center;
}

.motivacion__button {
  padding: 0.5rem 1rem;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

footer {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  font-size: 0.9rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

footer li {
  text-align: center;
}

/* Login */

.login__main {
  background: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login__container {
  background: var(--color-secondary);
  padding: 30px;
  border-radius: 30px;
  margin: 30px;
}

.login__subcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__titulo {
  color: var(--color-primary);
  margin-bottom: auto;
}

.login__subtitulo {
  color: var(--text-color-soft);
}

.login__formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin: 20px;
  width: 100%;
}

.formulario__label {
  font-weight: 900;
}

.login__input {
  border: var(--login-color-input-border) 1px solid;
  border-radius: 5px;
  padding: 10px;
  background: var(--login-color-input);
  transition: all 0.3s ease;
}

.login__input:focus {
  border: var(--login-color-input-focus) 1px solid;
  outline: none;
}

.login__submit {
  background: var(--color-gradient-cuadrado);
  color: var(--color-secondary);
  border: none;
  padding: 10px;
  border-radius: 15px;
  font-size: 30px;
  cursor: pointer;
}

/* REGISTRO */

.registro__main {
  background: var(--color-primary);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.main__encabezado {
  text-align: center;
  margin-bottom: 20px;
  width: 50%;
  color: var(--color-secondary);
}

.main__titulo {
  font-size: 2rem;
}

.registro__formulario {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(11, auto);
  gap: 10px;
  background: var(--color-secondary);
  padding: 20px;
  height: auto;
  border: 1px solid rgb(186, 186, 186);
  border-radius: 10px;
}

.formulario__label {
  color: var(--color-text-secondary);
  font-weight: lighter;
}

.formulario__input {
  background: var(--register-color-input);
  border: var(--register-color-input-border) 1px solid;
  border-radius: 10px;
  padding: 10px;
}

.formulario__submit {
  grid-column: 1 / 3;
  margin-top: 15px;
  background: var(--register-color-button-gradient);
  color: var(--color-secondary);
  font-size: 20px;
  border: none;
  padding: 10px 0;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}
.label--nombre_completo {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.input--nombre_completo {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.label--CI {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.input--CI {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.label--telefono {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
.input--telefono {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.label--email {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
.input--email {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}
.label--email {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
.input--email {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.label--direccion {
  grid-column: 1 / 3;
  grid-row: 5 / 6;
}
.input--direccion {
  grid-column: 1 / 3;
  grid-row: 6 / 7;
}

.label--fecha_nacimiento {
  grid-column: 1 / 3;
  grid-row: 7 / 8;
}
.input--fecha_nacimiento {
  grid-column: 1 / 3;
  grid-row: 8 / 9;
}
.label--contrasena {
  grid-column: 1 / 2;
  grid-row: 9 / 10;
}
.input--contrasena {
  grid-column: 1 / 3;
  grid-row: 10 / 11;
}

